---
layout: default
---

{{ content }}

{% if page.author_profile or layout.author_profile %}
  {% include author-profile.html %}
{% endif %}

{% comment %} Remove the "Recent Posts" section {% endcomment %}
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% if posts.size > 0 %}
  <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="entries-{{ entries_layout }}">
    {% include documents-collection.html entries=posts type=entries_layout %}
  </div>
  {% include paginator.html %}
{% endif %}
